* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.top-header {
  height: 90px;
  background: #dfffee;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.header-inner {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-area {
  display: flex;
  flex-direction: column;
}

.logo-area img {
  height: 80px;
  object-fit: contain;
}

.brand {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}

.search-area {
  width: 45%;
  position: relative;
}

.search-area input {
  width: 100%;
  height: 42px;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 0 45px 0 20px;
  background: #e6e1e8;
}

.search-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
}

.action-area {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: bold;
}

.action-area span {
  cursor: pointer;
  font-size: 18px;
}
footer img {
  width: 100%;
  display: block;
}
html, body {
  height: 100%;
}