* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.top-header {
  height: 90px;
  background: #dfffee;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.header-inner {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-area {
  display: flex;
  flex-direction: column;
}

.logo-area img {
  height: 80px;
  object-fit: contain;
}

.brand {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}

.search-area {
  width: 45%;
  position: relative;
}

.search-area input {
  width: 100%;
  height: 42px;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 0 45px 0 20px;
  background: #e6e1e8;
}

.search-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
}

.action-area {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: bold;
}

.action-area span {
  cursor: pointer;
  font-size: 18px;
}
footer img {
  width: 100%;
  display: block;
}

.login{
  background-color: antiquewhite;
}
body.login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #dfffee;
}

.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 360px;
  background: #e8ffe8;
  padding: 35px 30px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  text-align: center;
}

.login-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 25px;
}

.login-title img {
  height: 40px;
}

.login-card input {
  width: 100%;
  height: 42px;
  margin-bottom: 14px;
  border-radius: 25px;
  border: none;
  padding: 0 18px;
  outline: none;
}

.login-links {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #666;
  margin-bottom: 18px;
}

.login-btn {
  width: 120px;
  height: 38px;
  border-radius: 25px;
  border: none;
  background: #fff176;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background: #ffe44d;
}

.registeredPassword{
  text-align:left; width: 100%; display: block; color: #555; margin-bottom: 5px;
}

.button_global{
  background-color:#fff176;
  size: 20px;
}